<div class="container">
    <h4 class="text-center">Host Mapping</h4>

    <div class="form-group">
        <label for="hosts">Online Hosts</label>
        <select id="hosts" class="form-control"></select>
    </div>

    <h6 class="mt-3">Mapping</h6>
    <table id="map" class="table table-bordered">
        <thead>
            <tr>
                <th>Host</th>
                <th>Port</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <button class="btn btn-sm btn-primary" onclick="add()">Add Row</button>
    <button class="btn btn-sm btn-success ml-2" onclick="save()">Save Changes</button>
</div>

<script>
    let rowCount = 0;

    function add(){
        let s ='<tr> <td> <input id="c'+rowCount+'" value=""> </td> <td> <input id="p'+rowCount+'" value=""></td> </tr>'
        rowCount++
        $("#map").html($("#map").html() + s)
    }
    function save(){
        let pairs = []
        for(let i=0; i <=rowCount-1;i++){
            let pp = {"code" : $("#c"+i).val(), "port" : $("#p"+i).val()}
            pairs.push(pp)
        }
        console.log(pairs)

        let finalPairs = []
        for(let i=0; i<=pairs.length-1; i++){
            if(pairs[i].code != "" && pairs[i].port != ""){
                finalPairs.push(pairs[i])
            }
        }
        $.ajax({
        type: "POST",
        url: "/save",
        data: JSON.stringify(finalPairs),
        success: function (data) {
        }})
    }

    $.ajax({
        type: "GET",
        url: "/data",
        success: function (data) {

            data = JSON.parse(data)
            let sel = ""
            for (let i = 0; i <= data.devices.length - 1; i++) {
                sel += "<option> " + data.devices[i].code + " - "+data.devices[i].ip+"</option>"
            }
            $("#hosts").html(sel);


            let currentmap = ""

            currentmap += "<tr><td>HOST</td><td>PORT</td></tr>"
            for (let i = 0; i <= data.links.length - 1; i++) {
                currentmap += "<tr> <td> <input id=\"c"+rowCount+"\" value=\""+
                    data.links[i].code+
                    "\"/> </td> <td> <input id=\"p"+rowCount+"\" value=\""
                        +data.links[i].port+
                        "\" /></td> </tr>"
                rowCount++
            }

            $("#map").html(currentmap)

        }
    });
</script>